## Data
data/raw/AskDocs
data/processed/*.csv
data/processed/models

## Documentation
documentation/*.pdf
documentation/template
documentation/peer_review/

## Code
scripts/utilities/legacy

## Artifacts
*.pyc
*__pycache__*
*.DS_Store
