## Data
data/raw/AskDocs
data/processed/*.csv
data/processed/models

## Documentation
documentation/*.pdf
documentation/template

## Plots
plots/summary_statistics/
plots/metadata_distributions/
plots/model/

## Code
scripts/utilities/legacy

## Artifacts
*.pyc
*__pycache__*
*.DS_Store
